@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x:hidden;
}

.homepage_bg {
  background: url("../src/assets/Images/bbframe.jpg");
  /* background-size: cover;
  background-position: center; */
}
